<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title><%- title %>｜スカイＡ｜CS放送のスポーツチャンネル</title>
    <meta
      name="description"
      content="プロ野球（阪神タイガース主催の公式戦、オープン戦、ファーム戦）や大学野球、夏の高校野球、ゴルフ、スポーツクライミングなど豊富なスポーツ番組を重点的に放送しています。さらに釣りやボウリング、また探偵！ナイトスクープなどの人気番組も彩りを添えています。"
    />
    <meta
      name="keywords"
      content="阪神タイガース,スポーツチャンネル,CS放送,スカパー,ケーブルテレビ,ゴルフ,ボウリング,スポーツクライミング、Gift of Aloha ラン＆ライド、BLADE"
    />
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1.0" />
    <!-- OG START -->

    <meta
      property="og:title"
      content="<%- title %>｜スカイＡ｜CS放送のスポーツチャンネル"
    />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content="プロ野球（阪神タイガース主催の公式戦、オープン戦、ファーム戦）や大学野球、夏の高校野球、ゴルフ、スポーツクライミングなど豊富なスポーツ番組を重点的に放送しています。さらに釣りやボウリング、また探偵！ナイトスクープなどの人気番組も彩りを添えています。"
    />
    <meta property="og:image" content="https://sky-a.asahi.co.jp/img/ogimage.png?20160401" />

    <meta property="og:url" content="http://sky-a.asahi.co.jp/special/draft2022/" />
    <!-- OG END -->
    <link rel="shortcut icon" type="image/icon" href="https://sky-a.asahi.co.jp/img/common/favicon.ico?20160401" />
    <link rel="shortcut icon" href="https://sky-a.asahi.co.jp/img/common/favicon.ico?20160401" />
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://sky-a.asahi.co.jp/css/sp/common.css" />
    <link rel="stylesheet" media="all" href="https://sky-a.asahi.co.jp/css/sp/special.css" />
    <link rel="stylesheet" href="https://sky-a.asahi.co.jp/css/sp/style_sp.css" />
    <link rel="stylesheet" media="all" href="https://sky-a.asahi.co.jp/css/sp/special_detail.css" />
    <script type="text/javascript" async="" src="https://cdn.treasuredata.com/sdk/3.0/td.min.js"></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-1PNFK8KDJJ&amp;l=dataLayer&amp;cx=c"
    ></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PSC7F9Z"></script>
    <script src="https://sky-a.asahi.co.jp/js/jquery.js"></script>
    <!--[if lt IE 10]>
      <script type="text/javascript" src="/js/jquery.ah-placeholder.js"></script>
    <![endif]-->
    <script src="https://sky-a.asahi.co.jp/js/sp/common.js"></script>
    <script>
      <!--
      $(document).ready(function() {
        $('#specila-select').change(function(){
          location.href = $(this).val();
        });
      });
      //-->
    </script>
    <link rel="stylesheet" href="<%- stylesheet %>" />
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->
    <div id="wrapper">
      <%- include('../partials/menu-sp') %>
      <section id="contents">
        <section id="contents-inner">
          <%- include('../partials/header-sp') %>
          <h1 class="ttl-banner">
            <img src="https://sky-a.asahi.co.jp/img/special/special_icon.png" alt="" /><span
              >2022年10月20日 未来のスター選手誕生</span
            >
          </h1>
          <div id="contWarp">
            <div id="main">
               <!-- #コンテンツエリア-->
              <%- content %>
               <!-- /#コンテンツエリア-->
              <%- include('../partials/special-bottom-sp') %>
            </div>
          </div>
          <%- include('../partials/footer-sp') %>
        </section>
      </section>
    </div>
  </body>
</html>
